<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Dojo Tweets</title>
</head>
<body>
  <div class="container">
    <div class="nav">
      <h1>Dojo Tweets</h1>
      <div class="nav--right">
        <p>Welcome, {{ user.first_name }}</p>
        <a href="{{ url_for('users:logout') }}">logout</a>
      </div>
    </div>
    <div class="add-tweet-container">
      <h2>Write a Tweet:</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li class="error">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('tweets:create') }}" method="post">
        <textarea name="content" cols="30" rows="10" placeholder="Your tweet here..."></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="feed">
      <h2>Your Feed:</h2>
      <div class="tweets">
        {% for tweet in tweets %}
          <div class="tweet">
            <h3>{{ tweet.user.first_name }} {{ tweet.user.last_name }} says:</h3>
            <p>{{ tweet.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>