<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Create a Location</h1>
  <form action="/locations/create" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="">
    <label for="min_gold">Min Gold:</label>
    <input type="number" name="min_gold" id="">
    <label for="max_gold">Max Gold:</label>
    <input type="number" name="max_gold" id="">
    <input type="submit" value="Add Location">
  </form>
</body>
</html>